* {
  box-sizing: border-box;
}

#quote {
  margin-top: 40px;
}

.current {
  font-size: 40px;
  color: #1955ff;
}

.right {
  color: green;
}

.wrong {
  color: red;
  font-size: 40px;
}

#result {
  margin-top: 40px;
  font-style: italic;
}
